body{
	font-family: "Trebuchet MS";
	text-align: center;
}

#bar-and-canvas{
	max-width: 1600px;
	margin: 0 auto;
}

#logo{
	width: 20rem;
}

#canvas-container{
	margin-top: 5rem;
	width: 100%;
}

#c{
	width: 80%;
	border-style: dashed;
	border-color: #00008B;
}

#geeapp-bar{
	width: 100%;
}

#jacky-app-block{
	width: 100%;
	border-color: #f17065;
	background-color: #f1bcb8;
	background-image: url("repeating_bg.png");
	text-shadow: 1px 1px #f17065;
	margin-top: 50px;
}

.bar-feature{
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	
	padding: 2rem;
	border-left: solid;
	padding-right: 0.5em;
	border-color: #007FFF;
	border-width: 0.5rem;
}

@media screen and (min-width: 720px) {
	#geeapp-bar{
		width: 30rem;
		margin: 0 auto;
	}
	
	footer{
		width: inherit;
		margin: 0 auto;
	}
	
	#jacky-app-block{
		width: 80%;
		margin: 0 auto;
		margin-top: 50px;
	}

	.launch-highlight{
		width: max-content;
	}
}

@media screen and (min-width: 1500px) {
	#bar-and-canvas{
		text-align: left;
	}
	
	#logo{
		width: 100%;
	}

	#geeapp-bar{
		float: left;
		width: 200px;
		margin: 0.5rem;
	}
	
	#c{
		width: 1100px;
	}
	
	#canvas-container{
		width: auto;
		float: right;
		margin: 50px auto;
	}
	
	.bar-feature{
		padding: 0.2rem;
		border-width: 0.2rem;
		border-right: none;
	}
	
	#jacky-app-block{
		max-width: 900px;
		float: right;
		text-align: center;
		padding-left: 100px;
		padding-right: 100px;
	}
	
	footer{
		max-width: 1500px;
		clear: both;
	}
}